{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
.title {
  background-color: var(--secondary-color) !important;
  color: white;

  border-radius: 10px;
  padding: 10px;
  padding-bottom: 15px;

}
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <br><br>
      <h1 class="title">Welcome to Company Management</h1><br/><br/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr><th>
        <h3 style="text-align: center;">Please select a company below</h3>
        </thead>
        <tbody>
          <tr><td>
      <select id="company">
        <option>-----------------</option>
        {% for company in companies %}
        <option id="company-{{ company.pk }}" href="{% url 'management:company_page' company.pk %}" value="{{ company.pk }}">{{ company }}</option>
        {% endfor %}
      </select></td>
      </tr>.
      </tbody>
      </table>
      <button class="btn btn-success" id="manage">Manage Company</button>
    </div>
  </div>
{% include 'website/server_messages.html' %}

        {% endblock content %}

{% block js %}
<script>
  $('#manage').click(function() {
    var id = $('#company').val();
    window.location.href = $('#company-' + id).attr("href");
  })

</script>
{% endblock js %}
