{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
.title {
  background-color: var(--secondary-color) !important;
  color: white;

  border-radius: 10px;
  padding: 10px;
  padding-bottom: 15px;

}
</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="title">Tech and Mech Client Management</h1><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">

      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="heading">
              <h2>
          Clients
          <i class="fas fa-plus" href="{% url 'management:add_client' %}"></i><br/>
          </h2>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for clients.." title="Type in a client">
          </th>
          </tr>
          </thead>
          <tbody id="client-table">
        {% for client in clients %}
        <tr id="row-{{ client.pk }}" ><td class="client" href="{% url 'management:detail_client' client.pk %}"><h5>{{ client.name }}</h5></td>
        <td><i id="{{ client.pk }}" style="color:red" class="fas fa-trash-alt" href="{% url 'management:delete_client' client.pk %}"></i></tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="col text-center">
      <table class="table">
        <thead>
        <tr><th class="heading" colspan="2">
        <h2>Income Summary </h2>
        </th></tr>
        </thead>
        <tbody>

        <tr><th class="cost" href="{% url 'financial:list' 'elementor' %}">Elementor:</th>
          {% if elementor %}
          <td class="value"s>${{ elementor }}</td>
          {% else %}
          <td>$0</td>
          {% endif %}
        <tr><th class="cost" href="{% url 'financial:list' 'domains' %}">Domains:</th>
          {% if domains %}
          <td class="value" value="{{ domains }}">${{ domains }}</td>
          {% else %}
          <td>$0</td>
          {% endif %}
        <tr><th class="cost" href="{% url 'financial:list' 'server_hosting' %}">Servers:</th>
          {% if servers %}
          <td class="value" value="{{ servers }}">${{ servers }}</td>
          {% else %}
          <td>$0</td>
          {% endif %}
        <tr><th class="cost" href="{% url 'financial:list' 'project' %}">Projects:</th>
          {% if project %}
          <td class="value" value="{{ project }}">${{ project }}</td>
          {% else %}
          <td>$0</td>
          {% endif %}
          <tr style="border-top: 1px solid black;">
            <th>
              Total:
            </th>
            <td class="value">${{ total }}
              </td>
        </tbody>
        </table>
    </div>
</div>

        {% endblock content %}

{% block js %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#client-table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
$(document).ready(function() {
  $('.value').each(function(){
    if(parseInt($(this).html().substring(1)) >= 0 ) {
        $(this).css("color","green");
    }
    else {
      $(this).css("color","red");
    }
  });
});

//------------------------------------------------------
$('.cost').click(function() {
  window.location.href = $(this).attr('href')
})
$('.client').click(function() {
  window.location.href = $(this).attr('href');
  })

  $('.fa-plus').click(function() {
    window.location.href = $(this).attr('href');
    })

$('.fa-trash-alt').click(function() {
  var id = $(this).attr('id');
  if(confirm("Are you sure you want to delete this client?")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.deleted) {
        $('#client-table #row-' + id).remove();
      }
      else {
        console.log("Could not delete client at this time!");
      }
    });
  }
});
</script>
{% endblock js %}
