{% load staticfiles %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img id="logo" src="{% static 'website/images/logo.jpg' %}" alt="Logo" style="width:40px;">
  </a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'website:homepage_view'%}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'financial:estimate' %}">Estimated Cost Generator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:logout' %}">Logout</a>
    </li>
  </ul>
</nav>
