{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-4 ">
    <table class="table">
      <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>Client
              <a class="fas fa-edit" href="{% url 'management:update_client' object.pk %}"></a>
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="label">Name</td>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td class="label">Phone Number</td>
          <td>{{ object.phone_number }}</td>
        </tr>
        <tr>
          <td class="label">Email</td>
          <td>{{ object.email }}</td>
        </tr>
        <tr>
          <td class="label">Amount owed</td>
          <td>${{ object.amount_owed|default_if_none:"0"}}</td>
        </tr>
        <tr>
          <td class="label">Additional Information</td>
          <td>{{ object.additional_information }}</td>
        </tr>
        <tr>
          <td colspan="2">
          <a class="btn btn-primary" href="{{ object.folder_link }}">Link to Drive</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>Projects
              <a class="fas fa-plus" href="{% url 'management:add_project' pk=object.pk %}"></a>
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td><i class="fab fa-google" href=""></i></td>
          <td><i class="fab fa-github" href=""></i></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="col-md-4">
  <table class="table">
    <thead>
      <tr>
        <th colspan="5" class="heading">
          <h2>Recent Payments
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for payment in recent_payments %}
      <tr>
        <td>{{ payment.name }}</td>
        <td>{{ payment.amount }}/td>
        <td>{{ payment.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
