{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">

</style>
{% endblock custom_css %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <thead>
        <tr>
          <th class="heading">
            <h2>Client</h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form method="POST">{% csrf_token %}
                {% for error in form.name.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
                <text class="input-label">{{ form.name.label }}</text><br />
                {{ form.name }}<br /><br />
                <button id="save" type="submit" class="btn btn-success col-8 offset-4 col-md-4 offset-md-4">Save Client</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
