{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
<div class="row">
  <div class="col-md-4 ">
    <table class="table">
      <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>Client
              <a class="fas fa-edit" href="{% url 'management:update_client' object.pk %}"></a>
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="label">Name</td>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <td class="label">Phone Number</td>
          <td>{{ object.phone_number }}</td>
        </tr>
        <tr>
          <td class="label">Email</td>
          <td>{{ object.email }}</td>
        </tr>
        <!-- <tr>
          <td class="label">Amount owed</td>
          <td>${{ object.get_amount_owed }}</td>
        </tr> -->
        <tr>
          <td class="label">Additional Information</td>
          <td>{{ object.additional_information }}</td>
        </tr>
        <tr>
          <td colspan="2">
          <a class="btn btn-primary" href="{{ object.folder_link }}" target="_blank">Link to Drive</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  <div class="col-md-4">
    <table id="project-table" class="table">
      <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>Projects
              <a class="fas fa-plus" href="{% url 'management:add_project' pk=object.pk %}"></a>
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr id="row-{{ project.pk }}">
          <td class="project" href="{% url 'management:update_project' pk=project.pk pk2=object.pk %}"><strong>{{ project.name }}</strong></td>
          <td><a class="fab fa-google" href="{{ project.folder_link}}" target="_blank"></a></td>
          <td><a class="fab fa-github" href="{{ project.github_link }}" target="_blank"></a></td>
          <td><i id="{{ project.pk }}" class="fas fa-trash-alt" href="{% url 'management:delete_project' project.pk %}"></i></td>
        </tr>
        {% empty %}
        <tr>
          <td style="text-align: center"><h3>No Projects Yet!</h3></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="col-md-4">
  <table class="table">
    <thead>
      <tr>
        <th colspan="5" class="heading">
          <h2>Costs
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <th>Type</th>
      <th>Amount due</th>
      <th>Next Due Date</th>
      </tr>
      {% for cost in client_costs %}
      <tr>
        <td><strong>{{ cost.get_type_display }}</strong></td>
        <td>${{ cost.amount }}</td>
        <td>{{ cost.get_next_payment|date:"M d, Y" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3" style="text-align: center"><h3>No Costs Yet!</h3></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
</div>
{% endblock content %}

{% block js %}
<script>
  $('.project').click(function() {
    window.location.href = $(this).attr('href');
  });

  $('.fa-trash-alt').click(function() {
    var id = $(this).attr('id');
    if(confirm("Are you sure you want to delete this project?")) {
      $.get($(this).attr('href'), {}, function(data) {
        if(data.deleted) {
          $('#project-table #row-' + id).remove();
          location.reload();
        }
        else {
          alert("Could not delete project at this time!");
        }
      });
    }
  });

</script>
{% endblock js %}
