{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  width: 50%;
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
.title {
  background-color: var(--secondary-color) !important;
  color: white;
  text-align: center;

  border-radius: 10px;
  padding: 10px;
  padding-bottom: 15px;

}

  </style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title">{{ company }} Homepage</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">

      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="heading">
              <h2>
          Clients
          <i class="fas fa-plus" href="{% url 'management:add_client' company.pk %}"></i><br/>
          </h2>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for clients.." title="Type in a client">
          </th>
          </tr>
          </thead>
          <tbody id="client-table">
        {% for client in clients %}
        <tr id="row-{{ client.pk }}" ><td class="client" href="{% url 'management:detail_client' client.pk %}"><h5>{{ client.name }}</h5></td>
        <td><i id="{{ client.pk }}" style="color:red" class="fas fa-trash-alt" href="{% url 'management:delete_client' client.pk %}"></i></tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
      <div class="col">
      <table class="table">
        <thead>
            <tr><th colspan="3" class="text-center"><h2>Income Summary
              <i class='fa fa-plus' href="{% url 'financial:add_company_cost' company.pk %}"></i>
              </h2>
              </th>
            </tr>
        </thead>
        <tbody>
          <tr><th class="cost" href="{% url 'financial:cost' company.pk 'elementor' %}">Elementor:</th>
            {% if elementor %}
            <td class="value">${{ elementor }}</td>
            {% else %}
            <td>$0</td>
            {% endif %}
          <tr><th class="cost" href="{% url 'financial:cost' company.pk 'domains' %}">Domains:</th>
            {% if domains %}
            <td class="value">${{ domains}}</td>
            {% else %}
            <td>$0</td>
            {% endif %}
          <tr><th class="cost" href="{% url 'financial:cost' company.pk 'server_hosting' %}">Servers:</th>
            {% if servers %}
            <td class="value">${{ servers }}</td>
            {% else %}
            <td>$0</td>
            {% endif %}
          <tr><th class="cost" href="{% url 'financial:cost' company.pk 'project' %}">Projects:</th>
            {% if project %}
            <td class="value" >${{ project }}</td>
            {% else %}
            <td>$0</td>
            {% endif %}
            <tr style="border-top: 1px solid black;">
              <th>
                Total:
              </th>
              <td colspan="2" class="value">${{ total }}
                </td>
                </tr>
          </tbody>
      </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table id="member-table" class="table">
          <thead>
            <tr>
              <th colspan="2" class="heading">
                <h2 id="member">
                  Members
                  <i class='fa fa-plus' href="{% url 'management:add_member' company.pk %}"></i>
                  </h2>
                </th>
              </tr>
            </thead>
          <tbody>
            {% for member in members %}
              <tr><td><h5 style="text-align: center;">{{ member.first_name }} {{ member.last_name }}</h5></td>
                <td><i class="fa fa-trash-alt" href=""></i></td>
              </tr>
            {% endfor %}

            </tbody>
            </div>
    <div class="col">
      <table id="cost-table" class="table">
        <thead>
          <tr>
            <th colspan="4" class="heading">
              <h2 id="type">
                Services
                <i class='fa fa-plus' href="{% url 'financial:add_service' pk=company.pk %}"></i>
              </h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Service</th>
            <th>Hourly Rate</th>
            <th>Edit</th>
          </tr>
          {% for service in services %}
            <tr>
              <td>{{ service.name }}</td>
              <td>{{ service.cost_per_hour }}</td>
              <td><i class="fas fa-edit" href="{% url 'financial:update_service' %}"></i></td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
//------------------------------------------------------
$('.fa-plus').click(function() {
  window.location.href = $(this).attr("href");
});

$(document).ready(function() {
  $('.value').each(function(){
    if(parseInt($(this).html().substring(1)) >= 0 ) {
        $(this).css("color","green");
    }
    else {
      $(this).css("color","red");
    }
  });
});


$('.fa-trash-alt').click(function() {
  var id = $(this).attr('id');
  if(confirm("Are you sure you want to delete this client?")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.deleted) {
        $('#client-table #row-' + id).remove();
      }
      else {
        console.log("Could not delete client at this time!");
      }
    });
  }
});

$('.client').click(function() {
  window.location.href = $(this).attr('href');
});

$('.cost').click(function() {
  window.location.href = $(this).attr('href')
})

</script>
{% endblock js %}
