{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  width: 50%;
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}

  </style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
  <div class="row">
    <div class="col">
      <table id="cost-table" class="table">
        <thead>
          <tr>
            <th colspan="5" class="heading">
              <h2 id="type">
                {{ title }}
              </h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Client Name</th>
            {% if title == 'Project' %}
            <th>Project</th>
            {% endif %}
            <th>Next Payment due</th>
            <th>Price</th>
            <th>Client Payment</th>
          </tr>
          {% for cost in object_list|dictsort:"client.name" %}
            <tr>
              <td><strong class="client" href="{% url 'management:detail_client' cost.client.pk %}"> {{ cost.client }}</strong></td>
              {% if title == 'Project' %}
              <td>{{ cost.project }}</td>
              {% endif %}
              <td>{{ cost.get_next_payment|date:"M d, Y" }}</td>
              <td>${{ cost.price }}</td>
              <td>${{ cost.client_payment}}</td>
            </tr>
          {% endfor %}
            <tr>{{ profits }}</tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
//------------------------------------------------------
$('.client').click(function() {
  window.location.href = $(this).attr('href');
})
</script>
{% endblock js %}
