{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  width: 50%;
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
 .value {
   float: right;
   width: 25%;
 }
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-8 offset-md-2">
    <form method="POST">{% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="heading">
            <h2> Cost</h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <form action="" method="POST">
            <tr><th>Client: </th><td>
                <select id="client">
                    <option selected>------------</option>
                  {% for client in clients %}
                    <option value="{{ client }}">{{ client }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                <tr><th>Project: </th><td>
                    <select id="project">
                        <option selected>------------</option>
                      {% for project in projects %}
                        <option value="{{ project.client }}">{{ project }}</option>
                      {% endfor %}
                    </select>
                    </td>
                    </tr>
            {% for service in services %}
            <tr><th>{{ service|title }} Hours: </th><td><input class="value" type="number" name="{{ service.cost_per_hour }}"></input>
            {% endfor %}
            <tr><th>Total</th><td><text style="text-align: right; float: right;" class="total"></text></td></tr>
                    </form>
      </tbody>
    </table>
    <button id="save" type="submit" value="save" class="btn btn-success">Add Cost</button>
  </form>
</div>
</div>
</div>
{% endblock content %}

{% block js %}
<script>
    $('.value').on("input", function() {
      var total = 0;
        $('.value').each(function(){
          console.log($(this).val())
          if (isNaN(parseInt($(this).val()))) {
          }
          else {
              total += (parseInt($(this).val()) * parseInt($(this).attr("name")));
              console.log(total);
          }
      });
        $('.total').html('$' + total);
    });
    //--------------------------------------------------------------------------
    var sel2 = $('#project').html();
    $('#client').change(function() {
        $('#project').html(sel2);
        $('#project option').each(function() {
            if ($(this).val() != $('#client').val()) $(this).remove();
        });
    });

</script>
{% endblock js %}
