{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  width: 50%;
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus {
  color: var(--primary-color) !important;
}
thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}
 .value {
   float: right;
   width: 50%;
 }
 .btn-success {
   border-radius: 10px;
   font-size: 40px;
 }
</style>
{% endblock custom_css %}

{% block content %}
<form action="{% url 'financial:estimate' company %}" method="POST">{% csrf_token %}
<div class="container">
<div class="row">
  <div class="col-md-8 col-lg-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="heading">
            <h2>Client Informtation</h2>
          </th>
        </tr>
      </thead>
      <tbody>
            <tr><th>Client: </th><td>
                <select id="client" name="client" required>
                    <option selected>------------</option>
                  {% for client in clients %}
                    <option value="{{ client }}" name="client">{{ client }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                <tr><th>Project: </th><td>
                    <select id="project" name="project" required>
                        <option selected>------------</option>
                      {% for project in projects %}
                        <option id="{{ project.client }}" value="{{ project }}" name="project">{{ project }}</option>
                      {% endfor %}
                    </select>
                    </td>
                    </tr>
            <tr><th>Due Date:</th><td><input type="date" name="due_date"></input>
      </tbody>
    </table>
    <input type="hidden" name="company" value="{{ company }}"></input>
    </div>
    <div class="col-md-8 col-lg-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="heading">
            <h2>Hourly Costs</h2>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr><th>{{ service }} Hours: </th><td>
        <input id="{{ service.cost_per_hour }}" class="value" type="number" name="{{ service }}" value="0" required></input></td></tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="col-md-8 col-lg-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3" class="heading">
            <h2>Extra Costs</h2>
          </th>
        </tr>
      </thead>
      <tbody class="extras">
        {% for type in types %}
        <tr><th>{{ type.name }} </th><td>
        <input id="1" class="value" type="number" value="0" name="{{ type.name }}" required></input></td></tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>
<div class="h-100 row align-items-center">
  <div style="margin-left: auto; margin-right: auto;" class="col-md-6">
    <table class="table">
      <thead>
        <tr>
        <th><h2 style="text-align: center;">Total</h2></th>
        </tr>
      </thead>
      <tbody>
          <tr><td><h2 style="text-align: center; text-weight: bold" class="total">$0</h2></td></tr>
          </tbody>
        </table>
        <button id="save" type="submit" value="save" class="btn btn-success">Send as Invoice</button>
</div>
</form>
{% endblock content %}

{% block js %}
<script>
    $('.value').on("keyup", function() {
      var total = 0;
        $('.value').each(function(){
          console.log($(this).val())
          if (isNaN(parseInt($(this).val()))) {
          }
          else {
              total += (parseInt($(this).val()) * parseInt($(this).attr("id")));
              console.log(total);
          }
      });
        $('.total').html('$' + total);
    });
    //--------------------------------------------------------------------------
    var sel2 = $('#project').html();
    $('#client').change(function() {
        $('#project').html(sel2);
        $('#project option').each(function() {
            if ($(this).attr('id') != $('#client').val()) $(this).remove();
        });
    });
    //------------------------------------------------------------------------

</script>
{% endblock js %}
