{% extends 'website/base.html' %}

{% block custom_css %}
<style>
  .fa-plus {
    color: var(--primary-color) !important;
  }

#myInput {
  width: 50%;
  border-radius: 10px;
  border-color: var(--secondary-color) !important;
  outline: none;
}
.btn {
  width: 100%;
  background-color: var(--primary-color) !important;
}
.fa-edit {
    color: var(--primary-color) !important;
}
.fa-plus{
  color: var(--primary-color) !important;
}

.fa-info {
  color: var(--primary-color) !important;
  margin-left: 40%;
}

thead {
  background-color: var(--secondary-color) !important;
  color: white;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.label {
  font-weight: bold;
}
.heading {
  text-align: center;
}

  </style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
{% load app_filters %}

<div class="container">
  <div class="row">
    <div class="col">
      <table id="cost-table" class="table">
        <thead>
          <tr>
            <th colspan="5" class="heading">
              <h2 id="type">
                Open Invoices
                <i class='fa fa-plus' href="{% url 'financial:create_invoice' %}"></i>
              </h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Client</th>
            <th>Invoice ID</th>
            <th>Charge</th>
            <th>Due Date</th>
            <th>Details</th>
          </tr>
              {% for invoice in invoices %}
              <tr>
                <td>{% get_customer invoice.customer %}</td>
                <td>{{ invoice.id }}
                </td>
                <td>${% get_amount invoice.amount_remaining %}</td>
                <td>{% get_date invoice.due_date %}</td>
              <td>
                <i class="fas fa-info" id="info" href="{% url 'financial:invoice_items' company invoice.id %}"></i>
                </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
//------------------------------------------------------
$('.fa-plus').click(function() {
  window.location.href = $(this).attr("href");
})
$('.fa-edit').click(function() {
  window.location.href = $(this).attr("href");
})
$('#info').click(function() {
  window.location.href = $(this).attr("href");
})
</script>
{% endblock js %}
